<div class="main-card-container">
    <div class="main-card-container__image-container">
        <img src="https://wallpaperaccess.com/full/229965.jpg" alt="">
    </div>
    <div class="main-card-container__food-container">
        <div class="main-card-container__button-container">
            <a class="btn-marvel" routerLink="comics">Comics</a>
        </div>
        <div class="main-card-container__button-container">
            <a class="btn-marvel" routerLink="characteres">Characters</a>
        </div>
    </div>
</div>
